//Creado por José Prous(50139)
#include "resource.h"
#include "winresrc.h"

MINA	BITMAP	DISCARDABLE	"mina.bmp"
GRIS	BITMAP	DISCARDABLE	"gris.bmp"
UNO	BITMAP	DISCARDABLE	"1.bmp"
DOS	BITMAP	DISCARDABLE	"2.bmp"
TRES	BITMAP	DISCARDABLE	"3.bmp"
CUATRO	BITMAP	DISCARDABLE	"4.bmp"
CINCO	BITMAP	DISCARDABLE	"5.bmp"
SEIS	BITMAP	DISCARDABLE	"6.bmp"
SIETE	BITMAP	DISCARDABLE	"7.bmp"
OCHO	BITMAP	DISCARDABLE	"8.bmp"
BANDERA	BITMAP	DISCARDABLE	"bandera.bmp"
MINA2	BITMAP	DISCARDABLE	"mina2.bmp"
GRIS2	BITMAP	DISCARDABLE	"gris2.bmp"
CARA0	BITMAP	DISCARDABLE	"cara0.bmp"
CARA1	BITMAP	DISCARDABLE	"cara1.bmp"
CARA2	BITMAP	DISCARDABLE	"cara2.bmp"
CEROD	BITMAP	DISCARDABLE	"0d.bmp"
UNOD	BITMAP	DISCARDABLE	"1d.bmp"
DOSD	BITMAP	DISCARDABLE	"2d.bmp"
TRESD	BITMAP	DISCARDABLE	"3d.bmp"
CUATROD	BITMAP	DISCARDABLE	"4d.bmp"
CINCOD	BITMAP	DISCARDABLE	"5d.bmp"
SEISD	BITMAP	DISCARDABLE	"6d.bmp"
SIETED	BITMAP	DISCARDABLE	"7d.bmp"
OCHOD	BITMAP	DISCARDABLE	"8d.bmp"
NUEVED	BITMAP	DISCARDABLE	"9d.bmp"
MINAX	BITMAP	DISCARDABLE	"minax.bmp"

BUSCAMINAS  ICON    DISCARDABLE   "Buscaminas.ico"

ABOUTBOX DIALOG DISCARDABLE 32, 32, 180, 125 
STYLE DS_MODALFRAME |WS_BORDER|WS_CAPTION 
CAPTION "Acerca de Buscaminas"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "BUSCAMINAS",IDC_STATIC,40,12,100,8
    CTEXT           "CREADO POR JOSE PROUS",IDC_STATIC,7,40,166,8
    CTEXT           "2005",IDC_STATIC,7,52,166,8
    DEFPUSHBUTTON   "OK",IDOK,66,80,50,14
END
